.Approximator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.Approximator button {
    background-color: inherit;
    color: black;
    border: none;
    text-align: center;
    font-size: 20px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.Approximator-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.Approximator-control p {
    text-align: center;
}
